body{
    margin: 0%;
}

@font-face {
    font-family: arvo;
    src: url(arvo-regular.ttf);
  }

#hero{
    background-image: url("ineedahero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1024px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("ineedahero.jpg");
    z-index: 2;
}

.herotext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #DDEEEE;
    text-shadow: 2px 2px #333333;
    font-family: arvo;
}

#hero1{
    font-size: 50px;
    top: 40%;
}

#hero2{
    font-size: 30px;
    top: 55%;    
}

#hero3{
    font-size: 24px;
    top: 62%;
    width: 70%;   
}

#top{
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    z-index: 0;
    margin: 20px;
    margin-top: 50px;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#portafolio_container{
    background-image: url("bg1.jpg");
}

.portafolio{
    background-image: url("bg2.jpg");
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: arvo;
    width: 40%;
    margin: 20px;
}

.portafolio_image{
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: arvo;
    width: 50%;
    margin: 20px;
}

.portafolio_header{
    font-size: 24px;
}

#portafolio1{
    background-image: url("hormigas.jpg");
    background-size: cover;
}

#portafolio2{
    background-image: url("animales.jpg");
    background-size: cover;
}

#portafolio3{
    background-image: url("ZOMBOCOM.png");
    background-color: white;
}

#top{
    font-size: 48px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background-color: #3B88C3;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
}

a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: underline;
    color: white;
}
  
a:active {
    text-decoration: underline;
    color: white;
}

.text{
    color: #BBBBBB;
}

#acercademi_container{
    background-image: url("bg3.jpg");
    flex-flow: row nowrap;
}

.acercademi{
    background-image: url("bg4.jpg");
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: arvo;
    margin: 20px;
}

#acercademi_imagen{
    background-image: url("yo.jpg");
    width: 30%;
    height: 640px;
    background-size: contain;
    background-repeat: no-repeat;
}

#acercademi_texto{
    width: 40%;
    padding: 50px;
    padding-top: 20px;
}

.cabeza{
    font-size: 60px;
    text-align: center;
}

#habilidades_container{
    background-image: url("bg1.jpg");
    flex-flow: row nowrap;
}

#contacto_container{
    background-image: url("bg3.jpg");
}

#habilidades{
    background-image: url("bg2.jpg");
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: arvo;
    margin: 20px;
    color: #DDEEEE;
    border-color: black;
}

#contacto{
    background-image: url("bg4.jpg");
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: arvo;
    margin: 20px;
}